button {
  padding-top:13px;
  padding-bottom:13px;
  padding-left:22px;
  padding-right:22px;
  cursor:pointer;
  background:#181821;
  color:#fff;
  margin:5px;
  box-shadow: 0px 0px 1px 0px #181821;
  font-family: Muli;
  border:none;
  border-radius: 4px;
  font-size:20px;
  outline:none;
  transition: all .3s;
}
button:hover {
  background:#fff;
  color:#111;
}
button:active {
  background:#ddd;
}
