.app-secondary-sidebar {
  width:22%;
  background:#282838;
  height:100%;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}
.secondary-menu-item {
  background:#212129;
  height:50px;
  display:flex;
  justify-content: center;
  align-items: center;
  color:#fff;
  cursor:pointer;
  font-family: Muli;
  transition:all .3s;
}
.secondary-menu-item span {
  margin-left:4px;
}
.secondary-menu-item i {
  margin-right:4px;
}
.secondary-menu-item:hover {
  background:#fff;
  color:#222;
}
.secondary-active {
  background:#fff;
  color:#212129;
  border-left:8px solid #212129;
}
.secondary-active:hover {
  cursor:default;
}
.secondary-upper-menu {
  display:flex;
  flex-direction: column;
}
