.app-message-container {
  display:flex;
  flex-direction: column;
  flex:1;
  height:100%;
}
.chat-header {
  display:flex;
  height:100px;
  background: #181821;
  justify-content: space-between;
}
.chat-more-options {
  font-size:30px;
  cursor:pointer;
}
.chat-more-options:hover {
  color:#ddd;
}
.chat-profile-picture-container {
  height:80px;
  width:80px;
  margin-right:10px;
  border-radius: 50%;
  background-size:100%, auto;
  cursor:pointer;
}
.header-leftside-container {
  display:flex;
  align-items: center;
  padding-left:25px;
}
.header-leftside {
  display:flex;
  justify-content: center;
  flex-direction: column;
}
.header-rightside {
  display:flex;
  padding:15px;
  padding-right:25px;
  align-items: center;
}
.chat-status {
  margin:0px;
  font-family: Quicksand;
  font-size:13px;
  color:#f5f5f5;
}
.chat-username {
  margin:0px;
  font-family:Quicksand;
  font-weight: bold;
}
.app-messages {
  flex:1;
  width:100%;
  background:#141419;
  overflow-y: scroll;
}
.app-send-message-container {
  width:100%;
  height:60px;
  display:flex;
  align-items:center;
  justify-content: center;
  background: #181821;
}
.message-input {
  background: #141419;
  color:#fff;
  border:none;
  outline:none;
  font-family:Muli;
  font-weight: 300;
  margin:4px;
  width:85%;
  padding-left:10px;
  padding-right:10px;
}
.btn-send-message {
  font-size:40px;
  margin:4px;
}
.btn-send-image {
  font-size:40px;
  margin:4px;
  color:#333;
}
.message-from {
  width:98%;
  display:flex;
  margin-left:2%;
}
.message-from p {
  max-width: 60%;
  background:#111;
  color:#fff;
  padding:5px;
  padding-left:10px;
  padding-right: 10px;
  text-align: justify;
  border-radius: 4px;
  margin:7px;
  font-weight: bold;
}
.app-back-btn {
  font-size:30px;
  margin-right:10px;
  cursor:pointer;
}
.app-back-btn:hover {
  color:#333;
}
.dumb-start-div {
  width:100%;
  background:#191923;
  display:flex;
  align-items: center;
  justify-content: center;
  padding-top:10px;
  padding-bottom:10px;
  margin-bottom:8px;
}
.dumb-start-div:hover {
  background:#212129;
  cursor:pointer;
}
.dumb-start-div:active {
  background:#242431;
}
.message-to {
  width:98%;
  display:flex;
  flex-direction: row-reverse;
}
.message-to p {
  background:#fff;
  color:#303030;
  text-align: justify;
  margin:7px;
  padding:5px;
  max-width: 60%;
  font-weight: bold;
  border-radius: 4px;
  padding-left:10px;
  padding-right: 10px;
}
.message-to-img-container {
  position:relative;
  width:98%;
  display:flex;
  flex-direction: row-reverse;
}
.message-to-img {
  height:240px;
  max-height:300px;
  width:40%;
  max-height:230px;
  margin:7px;
  border-radius: 5px;
  background-size:contain;
  background-repeat:no-repeat;
  background-position: right;
  cursor:pointer;
}
.message-from-img-container {
  position:relative;
  width:98%;
  display:flex;
  margin-left:2%;
  flex-direction: row;
}
.message-from-img {
  height:240px;
  max-height: 300px;
  width:40%;
  margin:7px;
  border-radius: 5px;
  background-size:contain;
  background-repeat:no-repeat;
  background-position: left;
  cursor:pointer;
}
#scroll-messages::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px #333;
	background-color: #111;
}

#scroll-messages::-webkit-scrollbar
{
	width:8px;
	background-color: #222;
}

#scroll-messages::-webkit-scrollbar-thumb
{
	background-color: #fff;
	border: 1px solid #111;
}

.btn-send-image:hover {
  color:#fff;
}
